.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.left-0 {
  left: 0px
}

.left-\[16px\] {
  left: 16px
}

.left-\[173px\] {
  left: 173px
}

.left-\[24px\] {
  left: 24px
}

.left-\[8px\] {
  left: 8px
}

.left-\[91px\] {
  left: 91px
}

.top-0 {
  top: 0px
}

.top-\[257px\] {
  top: 257px
}

.top-\[285px\] {
  top: 285px
}

.top-\[76px\] {
  top: 76px
}

.top-\[952px\] {
  top: 952px
}

.m-auto {
  margin: auto
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.inline-flex {
  display: inline-flex
}

.hidden {
  display: none
}

.h-12 {
  height: 3rem
}

.h-48 {
  height: 12rem
}

.h-5 {
  height: 1.25rem
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.h-1 {
  height: 0.25rem
}

.h-\[1064px\] {
  height: 1064px
}

.h-\[193px\] {
  height: 193px
}

.h-\[52px\] {
  height: 52px
}

.h-\[72px\] {
  height: 72px
}

.h-\[187px\] {
  height: 187px
}

.w-12 {
  width: 3rem
}

.w-24 {
  width: 6rem
}

.w-\[100vw\] {
  width: 100vw
}

.w-1 {
  width: 0.25rem
}

.w-48 {
  width: 12rem
}

.w-7 {
  width: 1.75rem
}

.w-\[311px\] {
  width: 311px
}

.w-\[343px\] {
  width: 343px
}

.w-\[375px\] {
  width: 375px
}

.w-\[72px\] {
  width: 72px
}

.shrink {
  flex-shrink: 1
}

.grow {
  flex-grow: 1
}

.basis-0 {
  flex-basis: 0px
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.items-start {
  align-items: flex-start
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-between {
  justify-content: space-between
}

.self-stretch {
  align-self: stretch
}

.rounded-full {
  border-radius: 9999px
}

.rounded-xl {
  border-radius: 0.75rem
}

.border {
  border-width: 1px
}

.bg-\[\#5A716A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(90 113 106 / var(--tw-bg-opacity))
}

.bg-\[\#FAFAFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity))
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.bg-neutral-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity))
}

.bg-neutral-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(115 115 115 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-opacity-60 {
  --tw-bg-opacity: 0.6
}

.p-12 {
  padding: 3rem
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-6 {
  padding: 1.5rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pt-12 {
  padding-top: 3rem
}

.pt-0 {
  padding-top: 0px
}

.pb-4 {
  padding-bottom: 1rem
}

.font-Khmer {
  font-family: Khmer MN
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[24px\] {
  font-size: 24px
}

.text-\[12px\] {
  font-size: 12px
}

.text-\[14px\] {
  font-size: 14px
}

.font-semibold {
  font-weight: 600
}

.font-extralight {
  font-weight: 200
}

.font-normal {
  font-weight: 400
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

.leading-loose {
  line-height: 2
}

.text-\[\#5A716A\] {
  --tw-text-opacity: 1;
  color: rgb(90 113 106 / var(--tw-text-opacity))
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-neutral-500 {
  --tw-text-opacity: 1;
  color: rgb(115 115 115 / var(--tw-text-opacity))
}

.text-neutral-800 {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity))
}

.text-opacity-80 {
  --tw-text-opacity: 0.8
}

.underline {
  text-decoration-line: underline
}

.\[a-zA-Z0-9\:_-\] {
  a-z-a--z0-9: -
}
