.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.m-auto {
  margin: auto
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.mt-6 {
  margin-top: 1.5rem
}

.block {
  display: block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-12 {
  height: 3rem
}

.h-48 {
  height: 12rem
}

.h-5 {
  height: 1.25rem
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.h-4 {
  height: 1rem
}

.h-20 {
  height: 5rem
}

.w-12 {
  width: 3rem
}

.w-24 {
  width: 6rem
}

.w-\[100vw\] {
  width: 100vw
}

.w-4 {
  width: 1rem
}

.w-20 {
  width: 5rem
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-between {
  justify-content: space-between
}

.rounded-full {
  border-radius: 9999px
}

.rounded-2xl {
  border-radius: 1rem
}

.border {
  border-width: 1px
}

.bg-\[\#5A716A\] {
  --tw-bg-opacity: 1;
  background-color: rgb(90 113 106 / var(--tw-bg-opacity))
}

.bg-\[\#FAFAFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity))
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.p-12 {
  padding: 3rem
}

.p-2 {
  padding: 0.5rem
}

.p-4 {
  padding: 1rem
}

.p-6 {
  padding: 1.5rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pt-12 {
  padding-top: 3rem
}

.pb-2 {
  padding-bottom: 0.5rem
}

.font-Khmer {
  font-family: Khmer MN
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[24px\] {
  font-size: 24px
}

.text-\[12px\] {
  font-size: 12px
}

.text-\[14px\] {
  font-size: 14px
}

.font-semibold {
  font-weight: 600
}

.font-normal {
  font-weight: 400
}

.font-extralight {
  font-weight: 200
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.italic {
  font-style: italic
}

.leading-loose {
  line-height: 2
}

.text-\[\#5A716A\] {
  --tw-text-opacity: 1;
  color: rgb(90 113 106 / var(--tw-text-opacity))
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}

.text-\[\#222222\] {
  --tw-text-opacity: 1;
  color: rgb(34 34 34 / var(--tw-text-opacity))
}

.text-\[\#fff\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-opacity-80 {
  --tw-text-opacity: 0.8
}

.underline {
  text-decoration-line: underline
}

.\[a-zA-Z0-9\:_-\] {
  a-z-a--z0-9: -
}
